In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../dataset/dataset.csv")

data.describe()

        Plagiarized
count  34782.000000
mean       0.019838
std        0.139445
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [5]:
data.loc[data["Plagiarized"] == 0].describe()

       Plagiarized
count      34092.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0

In [6]:
data.loc[data["Plagiarized"] == 1].describe()

       Plagiarized
count        690.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0

In [ ]:
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Extract all plagiarized and non-plagiarized samples
plagiarized = data[data["Plagiarized"] == 1]
non_plagiarized = data[data["Plagiarized"] == 0]

# Randomly sample 700 non-plagiarized
non_plagiarized_sample = non_plagiarized.sample(n=700, random_state=42)

# Randomly sample 700 plagiarized (or all if less than 700)
plagiarized_sample = plagiarized.sample(n=min(700, len(plagiarized)), random_state=42)

# Concatenate and shuffle
balanced_data = pd.concat([non_plagiarized_sample, plagiarized_sample]).sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
import re

def remove_imports(code):
    # Remove all 'import ...;' statements (with optional spaces/tabs before)
    return re.sub(r'\s*import[^;]*;', '', code)

# Apply to both File1 and File2 columns
balanced_data_no_imports = balanced_data.copy()
balanced_data_no_imports['File1'] = balanced_data_no_imports['File1'].apply(remove_imports)
balanced_data_no_imports['File2'] = balanced_data_no_imports['File2'].apply(remove_imports)
# Save the balanced dataset without imports
balanced_data_no_imports.to_csv("../dataset/dataset_v2.csv", index=False)